:root {
  // primary colors
  --primary1-: #0046FF;
  --primary2-: #A294F9;
  --primary3-: #9EDDFF;
  --primary4-: #A6F6FF;

  // secondary colors
  --secondary1-: #434E78;
  --secondary2-: #5C7285;
  --secondary3-: #A6AEBF;
  --secondary4-: #E4E0E1;

  // warning colors
  --warning1-: #FFE100;
  --warning2-: #FFD93D;

  // gray colors
  --gray1-: #70B2B2;
  --gray2-: #6DC3BB;
  --gray3-: #D6F4ED;

  // danger colors
  --danger1-: #DC0E0E;
  --danger2-: #DC143C;
  --danger3-: #FF0066;

  // dark colors
  --dark1-: #1A1A1D;
  --dark2-: #3B1C32;
  --dark3-: #32012F;

  --white-: #fff;

  --dark-bg-: #0e0f11;
  --light-bg-: #FAF6F0;

  --chat-dark-: #25252525;
  --chat-light-: #e9e5e5;

  --base-card-dark-bg-: #161c29;
  --base-card-light-bg-: #f8f8f8;

  --base-drop-menu-dark-bg-: #131720;
  --base-drop-menu-light-bg-: #fff;

  --sidebar-header-bg-: #141414;
}
